// abstracts
@import "./abstracts/mixins.scss";
@import "./abstracts/variables.scss";

// base
@import "./base/base.scss";
@import "./base/typography.scss";

// layout
@import "./layout/footer.scss";
@import "./layout/header.scss";

// pages
@import "./pages/main_page.scss";
